#!/bin/sh

TFILE="doit.rc"
rm -f ${TFILE}
rm -f Packages.new

echo -n "finding packages ... "
find *.ipk | \
	awk --traditional '{ printf( "echo -n .;ar -p %s control.tar.gz", $1 );
			     printf( " | tar -xzO ./control >> Packages.new;" );
			     printf( "echo Filename: %s >> Packages.new;", $1 );
			     printf( "echo Size: %s >> Packages.new;", $1 );
			     printf( "echo >> Packages.new\n" ); }' >> ${TFILE}
echo `cat doit.rc | wc -l` found.
/bin/sh ${TFILE}

